.home-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home-responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home-img {
  height: 124px;
}
.home-heading {
  font-size: 32px;
  font-family: 'Roboto';
}
.home-bg-dark {
  background-color: #000000;
}
.home-bg-light {
  background-color: #ffffff;
}
